<div class="container">
    <br>
    
    <div class="row">
      <div *ngFor="let product of products; index as productId" class="col-sm">
        <a [routerLink]="[productId]">
          <div class="card">
            <img class="card-img-top" src=".\assets\img\phone-cover.jpg" alt="">
              <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns=".\assets\img\phone-cover.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg> -->
              <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.description }}</p>
              </div>
          </div>
        </a>
      </div>

</div>
